.vscode/
.vs/
.venv/
__pycache__/

build/
*.app/

tmp/
temp/
backup/
install/

.DS_Store

*.o
*.a
*.so
*.lib
*.dll
*.bin
*.exe
*.pdb

*.log

# 忽略示例程序中解压后的数据集文件。
example/digit_recognizer/train/data_set/*-ubyte
# 忽略示例程序中 CMake 配置后的 config 头文件。
example/digit_recognizer/train/src/config.h
